section.padding_top_half(id='faq')
  .container
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption Часто задаваемые вопросы

    .faq(data-aos='fade-left')
      h3.faq__header Как мне понять, в какую криптовалюту лучше инвестировать?
      p.faq__description Компания «Криптоинвест» не работает с «ненадежными» криптовалютами и тем более форками. Теоретически, любая валюта, с которой мы имеем дело, в долгосрочной перспективе будет расти в цене. Но если Вы хотите вникнуть в нюансы, у Вас всегда есть возможность пообщаться с другими инвесторами в закрытом чате.

    .faq(data-aos='fade-left')
      h3.faq__header У меня совершенно нет опыта в подобного рода инвестициях. Как быть?
      p.faq__description Существуют всего несколько простых правил инвестиций в криптовалюту. Достаточно запомнить и не нарушать их, чтобы оградить себя от слива депозита. Целесообразно инвестировать только часть депозита, а после первого заработка лишь часть прибыли. Остальные активы нужно удерживать минимум год. Эта стратегия гарантированно обезопасит Вас от нежелательных потерь и поможет выйти на достойный уровень прибыли.

    .faq(data-aos='fade-left')
      h3.faq__header Что будет, если я вообще не планирую исследовать рынок и прокачивать себя как трейдер? Стоит ли начинать инвестиции с таким настроем?
      p.faq__description В этом случае мы рекомендуем Вам две вещи: 1. Выбрать максимально консервативную стратегию инвестирования. 2. Строго следовать правилам и рекомендациям, разработанным опытными трейдерами для инвестиций в криптовалюту в закрытом Telegram-канале.  Этого вполне достаточно, чтобы обеспечить себе стабильный источник высокого пассивного дохода.

    .padding_top
      hr
