section.padding_top_half.padding_bottom
  .container
    h2.sectionHeader Вы замечаете, что творится с экономикой?

    .row
      .col-md-4
        .economyCollapse
          h3.economyCollapse__header Постоянные
            = ' '
            br.hidden-sm-down
            | кризисы
          p.economyCollapse__description Следуют один за другим с интервалом в несколько лет. Бизнес и фондовые рынки регулярно лихорадит даже в самых стабильных странах.

      .col-md-4
        .economyCollapse
          h3.economyCollapse__header Деньги
            = ' '
            br.hidden-sm-down
            | обесцениваются
          p.economyCollapse__description Даже если вы зарабатываете много, завтра накопленный капитал может превратиться в пыль благодаря инфляции и кризисам.

      .col-md-4
        .economyCollapse
          h3.economyCollapse__header Люди расстаются
            = ' '
            br.hidden-sm-down
            | с деньгами
          p.economyCollapse__description Из-за боязни потерять их: покупают машины, технику и дорогую одежду.
            = ' '
            br.hidden-sm-down
            | Но, дорогие вещи теряют в цене сразу после покупки.

    .padding_top
      hr
