.invest
  padding-top 30px
  padding-bottom 30px
  background linear-gradient(rgba(#fff, .55) 100%, transparent), url(/images/bg-videos.jpg) center / cover
  &__section
    padding 15px
    text-align center
    border 1px solid #000
    &:nth-child(2n)
      margin-top 30px
  &__title
    padding 0
    color color_red
    font-weight 500
    font-size 5rem
  &__subtitle
    font-size 4rem
  &__description
    margin 0
    font-weight 500
    font-size 1.15rem
