section.invest(id='invest')
  .container
    .invest__section
      .sectionHeader.sectionHeader_small(data-aos='fade-up')
        h2.sectionHeader__caption Условия инвестирования в фонд

      .row
        .col-lg-10.offset-lg-1
          .row
            .col-sm-4.margin_bottom_half
              h3.invest__title 5
                span.invest__subtitle %
              p.invest__description Условие входа

            .col-sm-4.margin_bottom_half
              h3.invest__title 5
                span.invest__subtitle %
              p.invest__description Условие выхода

            .col-sm-4.margin_bottom_half
              h3.invest__title 35
                span.invest__subtitle %
              p.invest__description От дохода

      .padding_top.padding_bottom_half
        button.button.button_long.button_lg(data-remodal-target='callback') Инвестировать сейчас


    .invest__section
      .sectionHeader.sectionHeader_small(data-aos='fade-up')
        h2.sectionHeader__caption Инвестиционная стратегия

      .row
          .col-sm-4.margin_bottom_half
            h3.invest__title 40
              span.invest__subtitle %
            p.invest__description Вкладываем в
              br
              | стабильно растущую
              br
              | криптовалюту

          .col-sm-4.margin_bottom_half
            h3.invest__title 40
              span.invest__subtitle %
            p.invest__description Вкладываем в проекты,
              br
              | которые выводим
              br
              | на ICO

          .col-sm-4.margin_bottom_half
            h3.invest__title 20
              span.invest__subtitle %
            p.invest__description На усмотрение менеджеров фонда
              br
              | (высокодоходный, но рискованный
              br
              | трейдинг, Post ICO)
