section.advantage(id='advantage')
  .container
    .advantage__section
      .sectionHeader.sectionHeader_small(data-aos='fade-up')
        h2.sectionHeader__caption Преимущества ICO для бизнеса

      .row
        .offset-lg-1

        .col-sm-6.col-md-4.col-lg-2.margin_bottom_half
          .advantage__image
            img(src='/images/thumbs/1.png')
          p.advantage__description Экономия затрат на привлечение капитала

        .col-sm-6.col-md-4.col-lg-2.margin_bottom_half
          .advantage__image
            img(src='/images/thumbs/2.png')
          p.advantage__description Экономия затрат на обслуживание привлеченного капитала

        .col-sm-6.col-md-4.col-lg-2.margin_bottom_half
          .advantage__image
            img(src='/images/thumbs/3.png')
          p.advantage__description Доступ к неограниченному объему капитала

        .col-sm-6.col-md-4.col-lg-2.margin_bottom_half
          .advantage__image
            img(src='/images/thumbs/4.png')
          p.advantage__description Свободный рост стоимости компании

        .col-sm-6.col-md-4.col-lg-2.margin_bottom_half
          .advantage__image
            img(src='/images/thumbs/5.png')
          p.advantage__description Отсутствие рисков потери контроля над бизнесом


    .advantage__section
      .sectionHeader.sectionHeader_small(data-aos='fade-up')
        h2.sectionHeader__caption Преимущества Smart Contract для покупателей токенов

      .row
        .col-sm-6.col-md-3
          .advantage__image
            img(src='/images/thumbs/6.png')
          p.advantage__description Минимальный порог входа (blockchain технология)

        .col-sm-6.col-md-3
          .advantage__image
            img(src='/images/thumbs/7.png')
          p.advantage__description Максимальная безопасность (юридическая экспертиза)

        .col-sm-6.col-md-3
          .advantage__image
            img(src='/images/thumbs/8.png')
          p.advantage__description Высочайшая доходность (бизнес экспертиза)

        .col-sm-6.col-md-3
          .advantage__image
            img(src='/images/thumbs/9.png')
          p.advantage__description Простота и удобство (техническая экспертиза)
