section.padding_top_half(id='smi')
  .container
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption СМИ о нас

    .videos.row
      .col-sm-6.margin_bottom_half
        .video.videoPreview(data-target='http://www.youtube.com/embed/TQN_BU-xKgs?enablejsapi=1')
          h3.video__caption Интервью на канале МИР финансового аналитика Cryptinvest.biz
          .video__preview
            img(src='/images/videos/7.jpg')

      .col-sm-6.margin_bottom_half
        .video.videoPreview(data-target='http://www.youtube.com/embed/vzYXjBigVco?enablejsapi=1')
          h3.video__caption На вопросы телеканала отвечает генеральный директор CRYPTINVEST.biz Вадим Валеев
          .video__preview
            img(src='/images/videos/8.jpg')

    .padding_top_half.text_center
      button.button.button_lg(data-remodal-target='mailerlite') Загрузить первый урок

    .padding_top
      hr
