section.testimonials.padding_top_half.padding_bottom(id='testimonials')
  .container
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption Мнения инвесторов о закрытом Telegram-канале

    .testimonials__slider
      .testimonials__slide
        .row
          .col-lg-3.offset-lg-1
            .testimonials__photo(style='background-image: url(/images/testimonials/1.jpg);')
          .col-lg-8
            p.testimonials__opinion Хочу поблагодарить  crypto-invest, клиентом которого являюсь уже более месяца! В силу большой занятости я не могу активно заниматься криптовалютами сам, но эта тема тревожила мой ум уже давно: перед моими глазами были примеры моих успешных товарищей, приумножающих свой капитал. Особо хочется отметить прозрачность и надежность работы - я и только я имею полный доступ к своим аккаунтам. Я в любой момент имею полный спектр информации по своим счетам. А иметь гарантии считаю крайней важностью. Ну и конечно отдельная благодарность за непосредственные результаты! Признаться, такого я не ожидал! За криптовалютами, несомненно, будущее!
            h3.testimonials__name ⁠⁠⁠— Александр
