section.padding_top_half.padding_bottom(id='about')
  .container
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption «CryptInvest» — надежный партнер по инвестициям
        = ' '
        br.hidden-sm-down
        | в Биткоин и другие валюты

    .row
      .col-md-7
        ul.list.list_arrow
          li(data-aos='fade-left') #[b Вам помогают трейдеры-профессионалы] — они знают рынок изнутри и обладают уникальным практическим опытом успешных инвестиций;
          li(data-aos='fade-left') #[b От Вашего заработка зависит наша прибыль] — поэтому мы заинтересованы в максимально разумном профите по сделкам с Вашим капиталом;
          li(data-aos='fade-left') #[b Скрытые платежи и комиссии отсутствуют] — Вы отдаете фиксированный процент от прибыли по прозрачной схеме;
          li(data-aos='fade-left') #[b Вы понимаете что происходит] — Вашим инвестиционным портфелем управляют открыто и держат Вас в курсе происходящего;
          li(data-aos='fade-left') #[b Вы не зависите от рубля и даже от доллара] — прибыль начисляется от биткоина, самой надежной международной криптовалюты, названной валютой будущего;
      .col-md-5.text_center
        img(src='/images/photo-3.jpg' style='max-height: 400px')
