section.padding_top_half(id='why')
  .container
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption Мы вкладываем в перспективные стартапы,
        = ' '
        br.hidden-md-down
        | тщательно отбирая их

    .row
      .col-md-4
        .thumb.thumb_preview
          .thumb__image
            img(src='/images/thumbs/star.png' height='70')
          h3.thumb__header Экспертность
          p.thumb__description Наши специалисты имеют опыт успешного инвестирования в ICO и знают критерии доходного проекта

      .col-md-4
        .thumb.thumb_preview
          .thumb__image
            img(src='/images/thumbs/chart.png' height='70')
          h3.thumb__header Высокая доходность
          p.thumb__description Blockchain-рынок с новыми типами бизнес-моделей растет быстрее, чем все остальные

      .col-md-4
        .thumb.thumb_preview
          .thumb__image
            img(src='/images/thumbs/diversification.png' height='70')
          h3.thumb__header Диверсификация
          p.thumb__description Фонд имеет диверсифицированный портфель активов, минимизируя риск одиночного отказа

    .padding_top.text_center
      button.button.button_lg(data-remodal-target='mailerlite') Посмотреть первый урок

    .padding_top
      hr
