section.padding_top_half.padding_bottom(id='about')
  .container
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption Что будет в бесплатном курсе

    .row
      .col-md-7.padding_vertical_half
        ul.list.list_arrow
          li(data-aos='fade-left') #[b Что такое криптовалюты] и почему они дорожают?
          li(data-aos='fade-left') #[b Обзор и регистрация] на популярной бирже
          li(data-aos='fade-left') #[b Регистрация кошелька] для быстрого обмена и перевода биткоинов
          li(data-aos='fade-left') #[b Обзор] одного из основных ресурсов по криптовалюте
          li(data-aos='fade-left') #[b Блокчейн] — преимущества и возможности
          li(data-aos='fade-left') #[b Криптотрейдинг] — особенности рынка цифровых валют
          li(data-aos='fade-left') #[b Домашние задания] в конце каждого урока

        .padding_top_half
          button.button.button_lg(data-remodal-target='mailerlite') Начать смотреть первый урок

      .col-md-5.text_center
        img(src='/images/photo-3.jpg' style='max-height: 330px')
