section#testimonials.testimonials.padding_top_half.padding_bottom
  .container
    h2.sectionHeader Что говорят инвесторы, которые уже с нами


    .testimonials__slider
      .testimonials__slide
        .testimonials__photo(style='background-image: url(images/photo-1.jpg);')
        h3.testimonials__name Имя Фамилия
        p.testimonials__opinion С другой стороны консультация с широким активом требуют от нас анализа новых предложений. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности.
      .testimonials__slide
        .testimonials__photo(style='background-image: url(images/photo-1.jpg);')
        h3.testimonials__name Имя Фамилия
        p.testimonials__opinion С другой стороны консультация с широким активом требуют от нас анализа новых предложений. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности.
      .testimonials__slide
        .testimonials__photo(style='background-image: url(images/photo-1.jpg);')
        h3.testimonials__name Имя Фамилия
        p.testimonials__opinion С другой стороны консультация с широким активом требуют от нас анализа новых предложений. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности.
