section.hero(id='main')
  include ../main-header/main-header

  .hero__content
    .padding_bottom
      include ../big-logo/big-logo

    h1.hero__header Каждый четверг в Уфе проходят беседы&nbsp;
      br.hidden-sm-down
      | по криптовалюте в непринужденной обстановке

    .container
      .padding_vertical
        button.button.button_long.button_xl(data-remodal-target='timepad') Регистрация

  a.hero__readMore(href='#organizers')
    img(src='/images/arrow_down.png' alt='Далее')
