@keyframes pulse
  0%
    transform translateY(0)
  50%
    transform translateY(10px)
  100%
    transform translateY(0)

.hero
  min-height 100vh
  padding-top 30px
  padding-bottom 30px
  text-align center
  background url(../images/bg-meeting.jpg) center / cover
  &, &__content
    display flex
    flex-direction column
    justify-content center
    align-items center
  &__content
    flex-grow 1
    width 100%
  &__header
    width 100%
    padding-top 1rem
    padding-bottom 1rem
    font-size 2.15rem
    background rgba(#fff, .4)
  &__readMore
    max-width 50px
    cursor pointer
    transition .2s
    animation pulse 2s infinite
    &:hover
      opacity .8
