include /src/components/icon/icon
include /src/components/logo/logo


header.mainHeader
  .container.mainHeader__container
    .mainHeader__logo
      +logo()

    .mainHeader__getAdvice
      button.button(data-remodal-target='callback') Получить консультацию

    .mainHeader__navbar
      include ../navbar/navbar

    button.mainHeader__burgerButton
      +icon({icon: 'menu'})
