section.padding_top_half(id='faq')
  .container
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption Часто задаваемые вопросы

    .faq
      .faq__item(data-aos='fade-left')
        h3.faq__header Я ничего не знаю о криптовалюте, мне подойдет этот курс?
        p.faq__description Да, этот курс как раз предназначен для новичков. Криптовалюта — один из лучших антикризисных инвестиционных инструментов мира.

      .faq__item(data-aos='fade-left')
        h3.faq__header Я не уверен, что смогу разобраться со всеми этими электронными кошельками и личными кабинетами.
          br
          | Не хочется тратить на это время и заморачиваться.
        p.faq__description Тогда Вам лучше не начинать просмотр этого курса.

      .faq__item(data-aos='fade-left')
        h3.faq__header А инвестиции в онлайн точно надежные?
        p.faq__description Сама криптовалюта создана онлайн и существует только онлайн, поэтому по-другому в нее инвестировать нельзя. По поводу стабильности можно сказать следующее. За время существования криптовалюты ее стоимость выросла в несколько раз. Даже доллар, евро и фунт-стерлинга вместе взятые не могут похвастаться такими показателями.

    .padding_top
      hr
