nav.navbar
  .navbar__item
    a.navbar__link(href='/') Обучение
  .navbar__item
    a.navbar__link(href='/chat') Продвинутый курс
  .navbar__item.navbar__item_active
    a.navbar__link() Упаковка ICO
  .navbar__item
    a.navbar__link(href='/meetup') Мероприятие

  .navbar__item.navbar__phone
    include ../../../components/phone/phone
