section.padding_top_half(id='team')
  .container
    h2.text_center Как защитить от финансовых катаклизмов себя и свою семью?
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption Пройти бесплатный курс от нашей команды

    .row.teamMember__container
      .teamMember
        .teamMember__photo(style='background-image: url(/images/team/vadim-2.jpg);')
        ul.list.teamMember__info
          li #[b Вадим Валеев] - сооснователь компании Сryptinvest.biz, эксперт по инвестированию в криптовалюту, на рынке криптовалют с 2017 года, основатель сообщества Сryptinvest.biz, более 7 лет предпринимательского стажа в сфере IT технологий.

      .teamMember
        .teamMember__photo(style='background-image: url(/images/team/sergey.jpg);')
        ul.list.teamMember__info
          li #[b Сергей Зинченко] - соучередитель компании Cryptinvest.biz, директор московского филиала Cryptinvest.biz, предприниматель с 2008 года, венчурный инвестор с 2010 года, эксперт в сфере блокчейн и инвестиций на крипто-валютном рынке с 2013 года.

      .teamMember
        .teamMember__photo(style='background-image: url(/images/team/rustam-2.jpg);')
        ul.list.teamMember__info
          li #[b Рустам Вагапов] - основатель компании MOBIagency, сооснователь компании Сryptinvest.biz, на рынке криптовалют с 2013 года, резидент itpark Набережные Челны.

    .padding_top
      hr
