section.padding_top_half.padding_bottom(id='start')
  .container
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption Начать легко!

    .row
      .col-lg-8
        .padding_top
          ul.list
            li(data-aos='fade-left') Отправляете в фонд ETH
            li(data-aos='fade-left') Умный Контракт фонда автоматически отправляет вам токены ILF
            li(data-aos='fade-left') Ваши вложения растут с ростом числа проектов, которые мы вывели на ICO
            li(data-aos='fade-left') Отправляете токены ILF назад в Умный Контракт фонда, и он автоматически перечислит вам ваши вложения в ETH, увеличенные за это время

      .col-lg-4.hidden-md-down
        img(src='/images/----4.jpg' style='max-height: 250px')
