@font-face
  font-family 'PF Bague Sans Pro'
  src url('../fonts/PFBagueSansPro-Light.woff2') format('woff2'),
      url('../fonts/PFBagueSansPro-Light.woff') format('woff'),
      url('../fonts/PFBagueSansPro-Light.ttf') format('truetype')
  font-weight 300
  font-style normal

@font-face
  font-family 'PF Bague Sans Pro'
  src url('../fonts/PFBagueSansPro.woff2') format('woff2'),
      url('../fonts/PFBagueSansPro.woff') format('woff'),
      url('../fonts/PFBagueSansPro.ttf') format('truetype')
  font-weight 400
  font-style normal

@font-face
  font-family 'PF Bague Sans Pro'
  src url('../fonts/PFBagueSansPro-Medium.woff2') format('woff2'),
      url('../fonts/PFBagueSansPro-Medium.woff') format('woff'),
      url('../fonts/PFBagueSansPro-Medium.ttf') format('truetype')
  font-weight 500
  font-style normal

@font-face
  font-family 'PF Bague Sans Pro'
  src url('../fonts/PFBagueSansPro-Bold.woff2') format('woff2'),
      url('../fonts/PFBagueSansPro-Bold.woff') format('woff'),
      url('../fonts/PFBagueSansPro-Bold.ttf') format('truetype')
  font-weight 700
  font-style normal
