section.padding_top_half.padding_bottom(id='team')
  .container
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption Команда

    .teamMember__container
      .teamMember
        .teamMember__photo(style='background-image: url(/images/team/rustam.jpg);')
        .teamMember__info
          h4.teamMember__name Вагапов Рустам
          p.teamMember__position СЕО

      .teamMember
        .teamMember__photo(style='background-image: url(/images/team/vadim.jpg);')
        .teamMember__info
          h4.teamMember__name Валеев Вадим
          p.teamMember__position sales/marketing

    .padding_top
      hr
