section.padding_top_half(id='why')
  .container
    h2.sectionHeader(data-aos='fade-up') Почему Telegram-канал работает в закрытом доступе?

    .row
      .hidden-md-down.col-lg-4.text_center
        img(src='/images/photo-6.jpg')

      .col-md-7.col-lg-8
        ul.list.list_arrow
          li(data-aos='fade-left')
            b Вы работаете только с проверенной информацией.
            p В сообществе не должно быть случайных людей, которые узнают ценные сведения о перспективных криптостартапах. Вы будете оперировать фактами, полученными на основе анализа рынка опытными инвесторами.
          li(data-aos='fade-left')
            b Вы гарантированно защищены от мошенников.
            p Закрытый канал помогает избежать общения не только со случайными людьми, но и мошенниками, которые пытаются навязать инвестиции в форки (ненадежные криптовалюты, созданные мошенниками для быстрого обогащения на доверчивых инвесторах).
          li(data-aos='fade-left')
            b Вы не переживаете из-за курсовых колебаний.
            p Пока другие инвесторы за пределами канала рвут на себе волосы — вы сохраняете спокойствие, потому что уже получили ценные рекомендации от более опытных коллег.
          li(data-aos='fade-left')
            b Вы сохраняете бОльшую часть капитала.
            p Опытные инвесторы внутри канала придерживаются долгосрочной консервативной стратегии инвестирования. Это единственный способ минимизировать риски.

    .padding_top
      hr
