section.padding_top_half
  .container
    h2.text_center Как защитить от финансовых катаклизмов себя и свою семью?
    h2.sectionHeader Инвестируйте в криптовалюту через доверительное
      br.hidden-sm-down
      = ' '
      | управление на международных биржах!

    .row
      .col-md-5
        img(src='images/photo-2.jpg')
      .col-md-7

    .padding_top
      hr
