section.padding_top_half.padding_bottom
  .container
    h2.text_center Как защитить от финансовых катаклизмов себя и свою семью?
    h2.sectionHeader Инвестируйте в криптовалюту через доверительное
      br.hidden-sm-down
      = ' '
      | управление на международных биржах!
