extends ../../layouts/default

block prepend head
  prepend head
  - var title = 'CryptInvest.biz — Получай сигналы на покупку криптовалют';
  - var og_image = 'http://cryptinvest.biz/images/preview-chat.png';

block content
  .page_chat
    include hero/hero

    include sections/sections

    include ../../components/modals/modals
