.hero
  position relative
  padding-top 80px
  padding-bottom 30px
  background url(../images/bg.jpg) center / cover
  overflow hidden
  @media (max-width 768px)
    padding-top 50px
  &__header
    &_1
      position relative
      margin-top 1rem
      font-size 2.5rem
      @media (max-width 768px)
        margin-top .5rem
        font-size 1.5rem
      &:before
        content ''
        position absolute
        top 0
        bottom 0
        left -100vw
        right -100vw
        display block
        background rgba(#000, .06)
    &_2
      padding-top 2rem
      font-size 1.65rem
      @media (max-width 768px)
        padding-top .5rem
        padding-bottom .5rem
        font-size 1.25rem
    &_3
      padding-top 2rem
      font-size 1.3rem
      @media (max-width 768px)
        padding-top .5rem
        font-size 1.15rem
