.hero
  position relative
  min-height 100vh
  padding-top 70px
  padding-bottom 30px
  background url(../images/bg.jpg) center / cover
  overflow hidden
  &__header
    &_1
      position relative
      margin-top 1rem
      font-size 2.5rem
      &:before
        content ''
        position absolute
        top 0
        bottom 0
        left -100vw
        right -100vw
        display block
        background rgba(#000, .06)
    &_2
      padding-top 2rem
    &_3
      padding-top 30px
