section.padding_top_half(id='faq')
  .container
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption Часто задаваемые вопросы

    .faq(data-aos='fade-left')
      h3.faq__header Я ничего не знаю о криптовалюте, как я могу инвестировать в такой инструмент?
      p.faq__description Вы получите прибыль, потому что в качестве гарантии выступает высокий уровень квалификации трейдера, который несет ответственность за доверительное управление. Компания «Криптоинвест» и трейдер так же, как и Вы, вкладывает свои деньги, поэтому заинтересована в успешном закрытии сделок. Криптовалюта — один из лучших антикризисных инвестиционных инструментов мира.

    .faq(data-aos='fade-left')
      h3.faq__header Я не уверен, что смогу разобраться со всеми этими электронными кошельками и личными кабинетами. Не хочется тратить на это время и заморачиваться.
      p.faq__description Решение всех организационных вопросов, в том числе по открытию кошельков и личного кабинета берет на себя компания «Криптоинвест» в лице специально обученных сотрудников.

    .faq(data-aos='fade-left')
      h3.faq__header А инвестиции в онлайн точно надежные?
      p.faq__description Сама криптовалюта создана онлайн и существует только онлайн, поэтому по-другому в нее инвестировать нельзя. По поводу стабильности можно сказать следующее. За время существования криптовалюты ее стоимость выросла в 10 000 раз. Даже доллар, евро и фунт-стерлинга вместе взятые не могут похвастаться такими показателями.

    .padding_top
      hr
