section.padding_top_half(id='faq')
  .container
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption Часто задаваемые вопросы

    .faq.faq_interactive
      .faq__item.faq__item_active(data-aos='fade-left')
        h3.faq__header Что такое наш фонд
        p.faq__description Наш фонд — это экосистема, которая полностью покрывает цикл инвестирования в инновационные проекты и помогает перспективным стартапам со всего мира находить финансирование, первых спонсоров и сотрудников. Мы привлекаем к работе стартапов инвесторов и выводим их на ICO. В рамках экосистемы также существует инвестиционный фонд, который занимается инвестициями в криптовалюты и ICO.

      .faq__item(data-aos='fade-left')
        h3.faq__header На каких условиях вы работаете с инвесторами?
        p.faq__description Мы формируем инвестиционный портфель на сумму от 30 ETH. Комиссия фонда на доходы портфеля составляет 30%.

      .faq__item(data-aos='fade-left')
        h3.faq__header Почему лучше инвестировать через фонд, а не самостоятельно?
        p.faq__description Чтобы инвестировать самостоятельно вам необходим опыт в той сфере, куда вы инвестируете и большое количество времени. Инвестиционный портфель требует оперативного управления в режиме 24 / 7. Да, вы все равно можете попробовать, но тогда подвергаете себя большому риску и эффективность ваших вложений будет значительно ниже, чем если вы воспользуетесь услугами наших экспертов. Чем рисковать в одиночку, лучше привлечь к себе в партнеры команду профессионалов, которая занимается этим профессионально.

      .faq__item(data-aos='fade-left')
        h3.faq__header Как вы подбираете стартапы для инвестиций?
        p.faq__description Чтобы мы обратили внимание на стартап он должен быть одним из лучших в своей области. Мы подбираем стартапы исходя из наших базовых требований. В соответствии с нашими требованиями мы анализируем, насколько перспективна идея стартапа, его команда, проработанность технической стороны проекта, насколько он безопасен для пользователей и другие детали.

      .faq__item(data-aos='fade-left')
        h3.faq__header Почему вы инвестируете в стартапы, криптовалюты и ICO?
        p.faq__description Потому что, мы считаем, что капитализация крипторынка может возрасти в разы. Дело в том, что технология блокчейн меняет способы хранения и обработки информации, а это в свою очередь меняет способы взаимодействия между людьми. Возникает новая ниша, в которой создано не так много продуктов, но уже видно, что они будут востребованы. Мы это уже видим, а большинство инвесторов ещё нет.

      .faq__item(data-aos='fade-left')
        h3.faq__header А где доказательства, что ваш фонд не МЛМ или пирамида?
        p.faq__description Суть пирамиды заключается в выплате вознаграждения предыдущим участникам за счет последующих. Эта схема обычно маскируется под промышленную, финансовую или торговую компанию. Однако в реальности такие «компании» не могут предоставить никаких достоверных подтверждений и внятных объяснений своей деятельности. В отличии от них мы подробно изложили схему увеличения вашего инвестиционного портфеля в White Paper IcoLab Ecosystem​. Кроме того, наш фонд поддерживают и консультируют эксперты со сложившейся в криптовалютном сообществе репутацией (Алексей Семенов, Дэрин Кег, Динис Гуарда, Тим Кэмпбелл, Алекс Форк).

      .faq__item(data-aos='fade-left')
        h3.faq__header Почему мы не инвестируем в HFT (высокочастотный трейдинг)?
        p.faq__description Высокочастотный трейдинг связан с высоким риском, так как приходится делать много транзакций, как внутри биржи, так и снаружи биржи, в том числе перемещая койны с холодных кошельков на горячие. Такие операции подвержены высокому риску. Чем больше транзакций, тем больше риск хакерских атак и потери денег, поэтому мы не идем на такой риск.

      .faq__item(data-aos='fade-left')
        h3.faq__header Почему мы не инвестируем в майнинг?
        p.faq__description Майнинг может приносить большой доход, но с учётом слухов о переходе Ethereum на алгоритм Proof-of-stake не стоит инвестировать в майнинг эфира. Майнинг биткbна эконометрически пока не очень выгоден и подразумевает целую группу трудно просчитываемых и неприемлемых для нас рисков (оборудование, регулирование, высокая конкуренция, электроэнергия), которые мы не готовы разделить со своими партнерами.

    .padding_top
      hr
