section.padding_top_half.padding_bottom.text_center(id='contact')
  .container
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption Получить бесплатное видео!

    h3.text_center Введите свой e-mail в форме ниже, и мы отправим видеозапись вам на почту

    span.padding_top_half(style='display: inline-block;')
      script(src='//static.mailerlite.com/data/webforms/488069/k5y1y0.js?v4')
    //form.row.form.callbackForm
    //  input(type='hidden' name='title' value='Запрос на видео из нижнего блока страницы встреч по четвергам')
    //
    //  .col-sm-10.offset-sm-1.col-lg-8.offset-lg-2.col-xl-6.offset-xl-3
    //    .row
    //      .col-md-6
    //        .form__group.form__group_lg.margin_bottom_half
    //          input.form__input(type='email' name='email' required placeholder='E-mail')
    //
    //      .col-md-6
    //        button.button.button_block.button_lg Получить консультацию
