section.padding_top_half(id='price')
  .container
    h2.sectionHeader Какой порог входа для инвестиций в криптовалюту

    .row
      .col-md-6.col-lg-4.margin_bottom_half
        .price
          .price__header Тестовый депозит
          .price__price от 300 тыс. руб.
          .price__profit прибыль 50/50
          .price__period  В качестве теста
            br
            | на период
            br
            | от 1-го месяца
          .price__button
            button.button.button_lg Начать инвестировать

      .col-md-6.col-lg-4.margin_bottom_half
        .price
          .price__header Стартовый депозит
          .price__price от 500 тыс. руб.
          .price__profit прибыль 50/50
          .price__period  Рекомендуемое время
            br
            | инвестирования
            br
            | от полугода
          .price__button
            button.button.button_lg Начать инвестировать

      .col-md-6.col-lg-4.margin_bottom_half
        .price
          .price__header VIP депозит
          .price__price от 10 млн. руб
          .price__profit прибыль 40/60 (Вам)
          .price__period  В качестве теста
            br
            | на период
            br
            | от 1-го месяца
          .price__button
            button.button.button_lg Начать инвестировать

    .padding_top
      hr
