extends ../../layouts/default

block prepend head
  prepend head
  - var title = 'CryptInvest — Meetup по криптовалютам в этот четверг, приходи';
  - var og_image = 'http://cryptinvest.biz/images/preview-meetup.png';

block content
  .page_meetup
    include hero/hero

    include sections/sections

    include ../../components/modals/modals
