section.padding_top_half.padding_bottom(id='steps')
  .container
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption Как стать участником закрытого Telegram-канала?

    .row
      .col-6.col-lg-3
        .thumb
          h3.thumb__header.thumb__header_big 1
          p.thumb__description Оставьте заявку
            br
            | на сайте.
      .col-6.col-lg-3
        .thumb
          h3.thumb__header.thumb__header_big 2
          p.thumb__description Задайте вопросы
            br
            | менеджеру в удобное
            br
            | время.
      .col-6.col-lg-3
        .thumb
          h3.thumb__header.thumb__header_big 3
          p.thumb__description Оплатите стоимость участия
            br
            | и начните получать
            br
            | информацию.
      .col-6.col-lg-3
        .thumb
          h3.thumb__header.thumb__header_big 4
          p.thumb__description Пользуйтесь инсайдерской
            br
            | информацией и считайте
            br
            | прибыль.
