section.padding_top_half(id='connect')
  .container
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption Сколько стоят услуги Telegram-канала

    .row
      .col-sm-10.col-md-6.offset-sm-1.offset-md-3.margin_bottom
        .connect.connect_first
          h3.connect__header Первый месяц
          h4.connect__price $500
          p.connect__description Вы забираете 100% прибыли
          p.connect__description Второй и последующие
            br
            | месяцы - 200$
          button.button.button_lg.button_long(data-remodal-target='closed-chat-subscription') Подписаться

    .row
      //.col-md-6.col-lg-4.margin_bottom_half
      //  .connect
      //    .connetct__image
      //      img(src='/images/thumbs/like.png' height='80')
      //    h3.connect__header Второй месяц
      //    p.connect__description Второй и последующие
      //      br
      //      | месяцы - 200$
      //      br
      //      | Вы забираете 100% прибыли
      //
      //    button.button.button_long Подписаться

      .col-md-6.col-lg-4.offset-lg-2.margin_bottom_half
        .connect
          .connetct__image
            img(src='/images/thumbs/chat.png' height='80')
          h3.connect__header Ваши бонусы
          p.connect__description Бесплатный доступ
            br
            | в закрытый чат для
            br
            | общения с инвесторами

          button.button.button_long(data-remodal-target='closed-chat-bonuses') Зайти в чат

      .col-md-6.col-lg-4.margin_bottom_half
        .connect
          .connetct__image
            img(src='/images/thumbs/users.png' height='80')
          h3.connect__header Акция
          p.connect__description Пригласите друга стать
            br
            | участником канала и
            br
            | получите скидку 10%

          button.button.button_long(data-remodal-target='closed-chat-share') Получить скидку


    .padding_top
      hr
