.logo
  display inline-flex
  align-items center
  text-decoration none
  &__image
    display flex
    margin-right 10px
    img
      height 30px
  &__text
    margin 0
    padding 0
    line-height 1
    font-size 1.5rem
    b
      font-weight 700
