.logo
  display inline-flex
  align-items center
  padding-top 5px
  padding-bottom 5px
  text-decoration none
  &__image
    display flex
    margin-right 10px
    img
      height 38px
  &__text
    display flex
    flex-direction column
  &__title
    margin 0
    padding 0
    line-height 1
    font-size 1.5rem
    font-weight 400
    b
      font-weight 700
  &__description
    margin 0
    padding 0
    line-height 1
    font-size 1.1rem
    color #444

