section.padding_top_half(id='reasons')
  .container
    h2.sectionHeader(data-aos='fade-up') 3 причины присоединиться к Telegram-каналу
      = ' '
      br.hidden-sm-down
      | от «CryptoInvest»

    .row
      .col-md-4
        .thumb
          h3.thumb__header Постоянные
            = ' '
            br.hidden-sm-down
            | кризисы
          p.thumb__description Следуют один за другим с интервалом в несколько лет. Бизнес и фондовые рынки регулярно лихорадит даже в самых стабильных странах.
      .col-md-4
        .thumb
          h3.thumb__header Деньги
            = ' '
            br.hidden-sm-down
            | обесцениваются
          p.thumb__description Даже если вы зарабатываете много, завтра накопленный капитал может превратиться в пыль благодаря инфляции и кризисам.
      .col-md-4
        .thumb
          h3.thumb__header Люди расстаются
            = ' '
            br.hidden-sm-down
            | с деньгами
          p.thumb__description Из-за боязни потерять их: покупают машины, технику и дорогую одежду. Но, дорогие вещи теряют в цене сразу после покупки.

    .padding_top
      hr
