section.padding_top_half.padding_bottom(id='experience')
  .container
    h2.sectionHeader(data-aos='fade-up') Наш опыт

    .row
      .col-6.col-lg-3
        .thumb
          h3.thumb__header.thumb__header_big 2
            .thumb__caption года
          p.thumb__description Опыт в
            br
            | блокчейне
      .col-6.col-lg-3
        .thumb
          h3.thumb__header.thumb__header_big 10+
            .thumb__caption прошедших ICO
          p.thumb__description Юридических
            br
            | консультаций
      .col-6.col-lg-3
        .thumb
          h3.thumb__header.thumb__header_big 14
            .thumb__caption лет
          p.thumb__description Опыт в
            br
            | маркетинге
      .col-6.col-lg-3
        .thumb
          h3.thumb__header.thumb__header_big 15+
            .thumb__caption лет
          p.thumb__description Опыт в
            br
            | разработке

    .padding_top
      hr
