section.padding_top_half(id='organizers')
  .container
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption Организаторы встреч

    .row
      .col-md-5.text_center
        a.video.videoPreview(href='javascript:void(0)' data-target='http://www.youtube.com/embed/mniAffTzQ3o?enablejsapi=1')
          img(src='/images/organ-m.jpg' style='max-height: 260px')

      .col-md-7
        .padding_vertical_half
          ul.list
            li(data-aos='fade-left') #[b Вадим Валеев] - сооснователь компании Сryptinvest, организатор сообщества/бизнес Молодость в Уфе, выпускник программы «Бизнес-молодость» - «ЦЕХ», более 7 лет опыта на руководящих должностях, представитель VIP-группы бизнес клуба “A3”.
              |
            li(data-aos='fade-left') #[b Рустам Вагапов] - основатель компании MOBIagency, сооснователь компании Сryptinvest, выпускник программ «Бизнес-молодость» - «Интенсив», «ЦЕХ», резидент itpark Набережные челны , представитель VIP-группы бизнес клуба “A3”.

    .padding_top
      hr
