.remodal.remodal_sm(data-remodal-id='start-investing')
  button.remodal-close(data-remodal-action='close')
  h1
    include ../../logo/logo
  p Заполните форму ниже и наш менеджер перезвонит Вам

  .remodal__body
    form.row.form.callbackForm.padding_top_half(id='start-investing')
      input(type='hidden' name='title' value='Запрос на инвестирование')

      .col-12
        .form__group.form__group_lg.margin_bottom_half
          input.form__input(name='name' required placeholder='Имя')

      .col-12
        .form__group.form__group_lg.margin_bottom_half
          input.form__input(name='phone' required placeholder='Телефон')

      .col-12
        .form__group.form__group_lg.margin_bottom_half
          input.form__input(name='sum' type='number' required placeholder='Желаемая сумма депозита')

      .col-12
        button.button.button_block.button_lg Начать инвестировать
