.container
  .row
    .col-md-6
      #lessonFrame.responsiveEmbed
        iframe(width='500' height='315' src='' frameborder='0' allowfullscreen)
        h2#warnMessage Скоро будет доступно

      p.padding_vertical_half При возникновении любых технических сложностей,
        | напишите на эту почту #[a.link(href='mailto:support@cryptinvest.biz') support@cryptinvest.biz], и мы решим любой Ваш вопрос.

    .col-md-6
      #lessonsList.row

  h3 Домашнее задание

  .homework(data-lesson-id='CfIQfvWiq8Y')
    ol
      li Зарегистрироваться на бирже Полоникс
        = ' '
        a(href='https://poloniex.com/login') https://poloniex.com/login
        br
        = ' '
        a(href='https://www.youtube.com/watch?v=bJDXKwm_X8s') https://www.youtube.com/watch?v=bJDXKwm_X8s
      li Войти в закрытый чат в Телеграме для инвесторов, для вступления перейди по ссылке
        = ' '
        a(href='https://goo.gl/YkVwmR') https://goo.gl/YkVwmR
      li Посмотреть курс всех монет -
        = ' '
        a(href='https://coinmarketcap.com/') https://coinmarketcap.com/

  .homework(data-lesson-id='cudOLvOO25U')
    p Завести бесплатный кошелек на сервисе моментального обмена BTC (Bitcoin) в Telegram
      = ' '
      a(href='https://goo.gl/vgxQUz') https://goo.gl/vgxQUz
      = ' '
      br
      | Инструкция: #[a(href='https://www.youtube.com/watch?v=jV-nhriyH3w') https://www.youtube.com/watch?v=jV-nhriyH3w]

  .homework(data-lesson-id='g0hTqpjL3e4')
    p Скачать мобильное приложение Blockfolio:
    ul
      li iOS -
        = ' '
        a(href='https://itunes.apple.com/us/app/blockfolio-bitcoin-altcoin/id1095564685?mt=8') https://itunes.apple.com/us/app/blockfolio-bitcoin-altcoin/id1095564685?mt=8
      li Android -
        = ' '
        a(href='https://play.google.com/store/apps/details?id=com.blockfolio.blockfolio') https://play.google.com/store/apps/details?id=com.blockfolio.blockfolio
