.lesson
  display flex
  flex-direction column
  padding 8px 10px
  background #fff
  text-decoration none
  border-radius 2px
  cursor pointer
  &__header
    display flex
  //&__icon
  &__title
    color darken(color_red, 30%)
  &__description
    margin 0
    font-size 1.1rem
  &:hover
    box-shadow 0 0 2px lighten(color_red, 30%)

