.container
  .row
    .col-md-6
      #lessonFrame.responsiveEmbed
        iframe(width='500' height='315' src='' frameborder='0' allowfullscreen)
        h2#warnMessage Скоро будет доступно

      p.padding_vertical_half При возникновении любых технических сложностей,
        | напишите на эту почту #[a.link(href='mailto:support@cryptinvest.biz') support@cryptinvest.biz], и мы решим любой Ваш вопрос.

    .col-md-6
      #lessonsList.row

  h3 Домашнее задание

  .homework(data-lesson-id='CfIQfvWiq8Y')
    ol
      li Зарегистрироваться на бирже Полоникс
        = ' '
        a(href='https://poloniex.com/login') https://poloniex.com/login
        br
        .row
          .col-md-5
            .responsiveEmbed
              iframe(width="560" height="315" src="https://www.youtube.com/embed/bJDXKwm_X8s?rel=0" frameborder="0" allowfullscreen)
      li Войти в закрытый чат в Телеграме для инвесторов, для вступления перейди по ссылке
        = ' '
        a(href='https://goo.gl/YkVwmR') https://goo.gl/YkVwmR
      li Посмотреть курс всех монет -
        = ' '
        a(href='https://coinmarketcap.com/') https://coinmarketcap.com/

  .homework(data-lesson-id='cudOLvOO25U')
    p Завести бесплатный кошелек на сервисе моментального обмена BTC (Bitcoin) в Telegram
      = ' '
      a(href='https://goo.gl/vgxQUz') https://goo.gl/vgxQUz
      = ' '
      br
      | Инструкция:
      .row
        .col-md-5
          .responsiveEmbed
            iframe(width="560" height="315" src="https://www.youtube.com/embed/jV-nhriyH3w?rel=0" frameborder="0" allowfullscreen)

  .homework(data-lesson-id='g0hTqpjL3e4')
    p Скачать мобильное приложение Blockfolio:
    ul
      li iOS -
        = ' '
        a(href='https://itunes.apple.com/us/app/blockfolio-bitcoin-altcoin/id1095564685?mt=8') https://itunes.apple.com/us/app/blockfolio-bitcoin-altcoin/id1095564685?mt=8
      li Android -
        = ' '
        a(href='https://play.google.com/store/apps/details?id=com.blockfolio.blockfolio') https://play.google.com/store/apps/details?id=com.blockfolio.blockfolio

  .row.comments
    .padding_vertical
      h2 Напишите в коментариях какие появились вопросы. Если Вам было полезно это видео, ставьте лайк и поделитесь им в соц. сетях с друзьями!

    .col-md-6
      #fb-root
      script.
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.10&appId=277245806110382";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

      .fb-comments(data-href="http://cryptinvest.biz/" data-numposts="10")

    .col-md-6
      script(src="//vk.com/js/api/openapi.js?146")
      script.
        VK.init({apiId: 6174703, onlyWidgets: true});

      #vk_comments
      script.
        VK.Widgets.Comments("vk_comments", {limit: 10, attach: "*"});
