.container
  .row
    .col-md-6
      #lessonFrame.responsiveEmbed
        iframe(width='500' height='315' src='' frameborder='0' allowfullscreen)
        h2#warnMessage Скоро будет доступно

      p.padding_vertical_half При возникновении любых технических сложностей,
        | напишите на эту почту #[a.link(href='mailto:support@cryptinvest.biz') support@cryptinvest.biz], и мы решим любой Ваш вопрос.

    .col-md-6
      #lessonsList.row
