extends ../layouts/default

block prepend head
  prepend head
  - var description = 'Запусти свой проект и собери инвестиции с помощью ICO';
  - var og_image = 'http://crypto-invest.site/images/preview.png';
  - var title = '';

block content
  .page_main
    include main/hero/hero

    include main/sections/sections

    include ../components/modals/modals
