.page_main
  @import 'main'
.page_course
  @import 'course'
.page_chat
  @import 'chat'
.page_ico
  @import 'ico'
.page_meetup
  @import 'meetup'
.page_lessons
  padding-top 80px
  background #f8f8f8
  @media (max-width 992px)
    padding-top 50px
  @import 'lessons'
