section.padding_top_half(id='services')
  .container
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption 5 уровней надежности информации закрытого
        = ' '
        br.hidden-sm-down
        | Telegram-канала от «CryptoInvest»

    .row
      .col-lg-8
        .padding_vertical
          ul.list
            li(data-aos='fade-left') #[b Вы приумножаете капитал в долгосрочной перспективе] —
              | долгосрочной стратегии инвестирования придерживается
              | все самые богатые люди мира.
            li(data-aos='fade-left') #[b Вы первым получаете стратегически важную информацию] —
              | заключаете сделку или выходите из нее до того, как рынок
              | массово отреагирует на сигнал.
            li(data-aos='fade-left') #[b Вы защищены от убытков] — по стратегии Вам не нужно
              | нервничать,  открывая и закрывая сделки каждый день.
              | Вы просто спокойно наблюдаете как растет Ваша прибыль.
              |
            li(data-aos='fade-left') #[b Вы защищены от обмана] — все мошенники, тролли и
              | противники блокчейна фильтруются еще на этапе зачисления
              | в аудиторию канала.
            li(data-aos='fade-left') #[b Ваши средства принадлежат только Вам] — вы действуете
              | на основании полученной информации, но все решения
              | принимаете самостоятельно и можете в любой момент
              | забрать деньги.

      .hidden-md-down.col-lg-4.padding_bottom
        img(src='/images/photo-7.jpg' style='max-height: 420px')
