nav.navbar
  .navbar__item.navbar__item_active
    a.navbar__link(href='') Bыбрать депозит
  .navbar__item
    a.navbar__link(href='') Закрытый чат
  .navbar__item
    a.navbar__link(href='') Отзывы
  .navbar__item
    a.navbar__link(href='') FAQ
  .navbar__item.navbar__phone
    a.phone(href='tel:8 (800) 123-45-67') 8 (800) 123-45-67
