nav.navbar
  .navbar__item
    a.navbar__link(href='') Bыбрать депозит
  //.navbar__item.navbar__item_active
  .navbar__item
    a.navbar__link(href='') Закрытый чат
  .navbar__item
    a.navbar__link(href='') Отзывы
  .navbar__item
    a.navbar__link(href='') FAQ
  .navbar__item.navbar__phone
    include ../phone/phone
