section.padding_top_half(id='services')
  .container
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption Мы предлагаем

    .row
      .hidden-md-down.col-lg-5.padding_bottom_half(data-aos='fade-right')
        img(src='/images/----31.jpg' style='max-height: 420px')

      .col-lg-7.padding_top_half
        h2 Технологии
        ul.list
          li(data-aos='fade-left') Смарт контракт (технологии)
          li(data-aos='fade-left') Система управления Смарт Контрактами (технологии)
          li(data-aos='fade-left') Book Building Platform (технологии)
          li(data-aos='fade-left') Структура Landing Page (презентация)
          li(data-aos='fade-left') Консультации (3 часа)

    .row
      .hidden-md-down.col-lg-5.padding_bottom_half(data-aos='fade-right')
        img(src='/images/----33.jpg' style='max-height: 420px')

      .col-lg-7.padding_top_half
        h2 Юридические услуги
        ul.list
          li(data-aos='fade-left') Продуктовая концепция токена (презентация)
          li(data-aos='fade-left') Рекомендации по защите компании и минимизации рисков при выпуске токенов (презентация)
          li(data-aos='fade-left') Комплект договорной обвязки, пользовательских соглашений (документация)
          li(data-aos='fade-left') Консультации (3 часа)

    .row.padding_top_half
      .hidden-md-down.col-lg-5.padding_bottom_half(data-aos='fade-right')
        img(src='/images/----32.jpg' style='max-height: 420px')

      .col-lg-7
        h2 Продукт и маркетинг
        ul.list
          li(data-aos='fade-left') Первичное ревью продукта
          li(data-aos='fade-left') Рекомендации по написанию White Paper
          li(data-aos='fade-left') Помощь в создании Landing Page
          li(data-aos='fade-left') Пошаговое руководство по маркетингу в формате PDF или видеолекций
          li(data-aos='fade-left') Бесплатный пакет трафика на 20.000$: Facebook, Twitter, Adwords, Reddit
          li(data-aos='fade-left') Базы площадок (форумы, блоги, СМИ, ICO листинги, региональные площадки)
          li(data-aos='fade-left') 3 часа консультации маркетолога в любое удобное время

    .padding_top
      hr
