section.padding_top_half(id='brands')
  .container
    h2.sectionHeader На каких биржах доступны инвестиции
      br.hidden-sm-down
      = ' '
      | в криптовалюту?

    .row.text_center
      .col-6.col-sm-4.col-md-3.margin_bottom_half
        img(src='images/brands/1.png')
      .col-6.col-sm-4.col-md-3.margin_bottom_half
        img(src='images/brands/2.png')
      .col-6.col-sm-4.col-md-3.margin_bottom_half
        img(src='images/brands/3.png')
      .col-6.col-sm-4.col-md-3.margin_bottom_half
        img(src='images/brands/4.png')
      .col-6.col-sm-4.col-md-3.margin_bottom_half
        img(src='images/brands/5.png')
      .col-6.col-sm-4.col-md-3.margin_bottom_half
        img(src='images/brands/6.png')
      .col-6.col-sm-4.col-md-3.margin_bottom_half
        img(src='images/brands/7.png')
      .col-6.col-sm-4.col-md-3.margin_bottom_half
        img(src='images/brands/8.png')
      .col-6.col-sm-4.col-md-3.margin_bottom_half
        img(src='images/brands/9.png')
      .col-6.col-sm-4.col-md-3.margin_bottom_half
        img(src='images/brands/10.png')
      .col-6.col-sm-4.col-md-3.margin_bottom_half
        img(src='images/brands/11.png')
      .col-6.col-sm-4.col-md-3.margin_bottom_half
        img(src='images/brands/12.png')

    .padding_top
      hr
