section.padding_top_half.padding_bottom
  .container
    h2.sectionHeader У Вас остались вопросы по инвестициям
      br.hidden-sm-down
      | в криптовалюту?

    h3.text_center Опытный трейдер на связи и готов проконсультировать Вас!

    form.row.form.callbackForm.padding_top_half
      .col-sm-10.offset-sm-1.col-lg-8.offset-lg-2.col-xl-6.offset-xl-3
        .row
          .col-md-6
            .form__group.form__group_lg.margin_bottom_half
              input.form__input(name='phone' required placeholder='Телефон')

          .col-md-6
            button.button.button_block.button_lg Получить консультацию
