section.padding_top_half.padding_bottom(id='chat')
  .container
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption У Вас остались вопросы по инвестициям
        br.hidden-sm-down
        = ' '
        | в криптовалюту?

    .row
      .col-md-5.text_center
        img(src='/images/photo-4.jpg' style='max-height: 300px; border: 3px solid #686866;')
      .col-md-7
        .padding_vertical
          ul.list
            li(data-aos='fade-left') Вы прошли бесплатный курс, но у вас по-прежнему остались вопросы или что-то не получается?
            li(data-aos='fade-left') Тогда приглашаем вас записаться к нам на обучение с получением рекмендаций по составлению своего криптопортфеля и получением сигналов по покупке.
            li(data-aos='fade-left') Смотрите преимущества платного обучения и отзывы ниже:

        a.button.button_lg.button_long(href='/chat') Посмотреть
