section.padding_top_half(id='services')
  .container
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption Получите бесплатно видео о криптовалюте

    .row
      .col-md-7
        .padding_vertical_half
          ul.list
            li(data-aos='fade-left') Как заработать на ICO и научится отличать реальные ICO проекты от мошеннических схем;
            li(data-aos='fade-left') Где безопаснее всего хранить криптовалюту;
            li(data-aos='fade-left') Как завести кошелек;
            li(data-aos='fade-left') Как торговать на биржах, как выбрать правильную биржу;
            li(data-aos='fade-left') Как купить акции стартапов с дисконтом до выхода на биржу.

      .col-md-5.hidden-md-down
        img(src='/images/----31m.jpg' style='max-height: 280px')

    .padding_top
      hr
