section.padding_top_half(id='services')
  .container
    h4.text_center Знаете ли вы сейчас о криптовалюте или нет, этот многомиллиардный рынок растет с каждым днем,&nbsp;
      br.hidden-sm-down
      | вопрос не в том придете вы в него или нет, а когда вы это сделаете!
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption Что вы узнаете из видео?

    .row
      .col-md-7
        .padding_vertical_half
          ul.list
            li(data-aos='fade-left') Как заработать на ICO и научится отличать реальные ico проекты от заведомо пирамидных;
            li(data-aos='fade-left') Где безопаснее всего хранить криптовалюту;
            li(data-aos='fade-left') Как завести кошелек;
            li(data-aos='fade-left') Как торговать на биржах, как выбрать правильную биржу;
            li(data-aos='fade-left') Как купить акции стартапов с дисконтом до выхода на биржу.

      .col-md-5.hidden-md-down
        img(src='/images/----31m.jpg' style='max-height: 280px')

    .padding_top
      hr
