@import '../../../../node_modules/remodal/dist/remodal.css'
@import '../../../../node_modules/remodal/dist/remodal-default-theme.css'

//.remodal
//  background none
//  color #fff
//  &__body
//    background #fff
