@import '../../../../node_modules/remodal/dist/remodal.css'
@import '../../../../node_modules/remodal/dist/remodal-default-theme.css'

.remodal
  &_xs
    max-width 380px
  &_sm
    max-width 440px
  &_full-content
    padding 0
