section.videos.padding_top_half.padding_bottom(id='videos')
  .container
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption Бесплатное видео для всех, кто интересуется
        = ' '
        br.hidden-md-down
        | инвестициями в криптовалюту

    .row
      .col-sm-6.col-md-4.margin_bottom_half
        .video.videoPreview(data-target='http://www.youtube.com/embed/JUXMx_va0aQ?enablejsapi=1')
          h3.video__caption Биткоин прогноз курса #[br.hidden-md-down] на 2017 год
          .video__preview
            img(src='/images/videos/1.jpg')

      .col-sm-6.col-md-4.margin_bottom_half
        .video.videoPreview(data-target='http://www.youtube.com/embed/lbToLBmnN64?enablejsapi=1')
          h3.video__caption Что такое Биткоин простым языком
          .video__preview
            img(src='/images/videos/2.jpg')

      .col-sm-6.col-md-4.margin_bottom_half
        .video.videoPreview(data-target='http://www.youtube.com/embed/QQiLmSYD7Ug?enablejsapi=1')
          h3.video__caption Мониторинг обменных пунктов BestChange ru
          .video__preview
            img(src='/images/videos/3.jpg')

      .col-sm-6.col-md-4.margin_bottom_half
        .video.videoPreview(data-target='http://www.youtube.com/embed/sXdw5pSap14?enablejsapi=1')
          h3.video__caption Bitcoin что нужно знать инвесторам
          .video__preview
            img(src='/images/videos/4.jpg')

      .col-sm-6.col-md-4.margin_bottom_half
        .video.videoPreview(data-target='http://www.youtube.com/embed/jV-nhriyH3w?enablejsapi=1')
          h3.video__caption Инструкция по покупке #[br.hidden-md-down] биткойнов
          .video__preview
            img(src='/images/videos/5.jpg')

      .col-sm-6.col-md-4.margin_bottom_half
        .video.videoPreview(data-target='http://www.youtube.com/embed/T9oZuNazVoA?enablejsapi=1')
          h3.video__caption Дмитрий Медведев и Герман Греф о технологии Блокчейн
          .video__preview
            img(src='/images/videos/6.jpg')
