section.padding_top_half(id='services')
  .container
    h2.text_center Как защитить от финансовых катаклизмов себя и свою семью?
    h2.sectionHeader(data-aos='fade-up') Инвестируйте в криптовалюту через доверительное
      = ' '
      br.hidden-sm-down
      | управление на международных биржах!

    .row
      .col-md-5
        img(src='/images/photo-2.jpg' style='max-height: 280px')
      .col-md-7
        .padding_vertical
          ul.list
            li(data-aos='fade-left') #[b Ваши деньги лежат у Вас на биржевом счете] — трейдер имеет право только продавать и покупать криптовалюту;
            li(data-aos='fade-left') #[b Богатейте каждые две недели] — получайте прибыль от 10% с вложенных инвестиций;
            li(data-aos='fade-left') #[b Экономьте время] — при доверительном управлении Вам не нужно изучать рынок, переживать за состояние экономики США, Китая и других государств.

    .padding_top
      hr
