nav.navbar
  .navbar__item
    a.navbar__link(href='/') Доверительное управление
  .navbar__item.navbar__item_active
    a.navbar__link() Сигналы
  .navbar__item
    a.navbar__link(href='/ico') Упаковка ICO
  //.navbar__item
  //  a.navbar__link(href='/#price') Выбрать депозит
  //.navbar__item
  //  a.navbar__link(href='#connect') Подключиться
  //.navbar__item
  //  a.navbar__link(href='#testimonials') Отзывы
  //.navbar__item
  //  a.navbar__link(href='#faq') FAQ

  .navbar__item.navbar__phone
    include ../../../components/phone/phone
