.testimonials
  background url(../images/bg-testimonials.jpg) center / cover
  @media (max-width 992px)
    text-align center
  &__photo
    display inline-block
    width 100%
    height @width
    min-width 200px
    min-height @min-width
    max-width 300px
    max-height @max-width
    background-position center
    background-size cover
    @media (max-width 992px)
      width 200px
      height @width
      border-radius 50%
  &__name
    padding-bottom .8rem
    font-size 1.6rem
    font-weight 500
  &__opinion
    display inline-block
    max-width 640px
    margin-top 0
    margin-bottom 10px
    @media (max-width 992px)
      margin-top 1.25rem
    &:before
      content ''
      display block
      width 35px
      height @width
      margin-bottom 10px
      background url('../images/svg/quote-left.svg') center / cover
      @media (max-width 992px)
        display none
