section.padding_top_half(id='price')
  .container
    h2.sectionHeader(data-aos='fade-up') Сколько стоят услуги Telegram-канала

    .row
      .col-md-6.col-lg-4.margin_bottom_half


    .padding_top
      hr
