nav.navbar
  .navbar__item
    a.navbar__link(href='#services') Услуги
  .navbar__item
    a.navbar__link(href='#bonuses') Бонусы
  //.navbar__item.navbar__item_active
  .navbar__item
    a.navbar__link(href='#experience') Опыт
  .navbar__item
    a.navbar__link(href='#team') Команда

  .navbar__item.navbar__phone
    include ../../../components/phone/phone
