nav.navbar
  .navbar__item
    a.navbar__link(href='/chat') Закрытый чат
  //.navbar__item.navbar__item_active
  .navbar__item
    a.navbar__link(href='#price') Bыбрать депозит
  .navbar__item
    a.navbar__link(href='#testimonials') Отзывы
  .navbar__item
    a.navbar__link(href='#faq') FAQ
  .navbar__item
    a.navbar__link(href='/blockchain') Блокчейн

  .navbar__item.navbar__phone
    include ../../../components/phone/phone
