nav.navbar
  .navbar__item.navbar__item_active
    a.navbar__link() Доверительное управление
  .navbar__item
    a.navbar__link(href='/chat') Сигналы
  .navbar__item
    a.navbar__link(href='/ico') Упаковка ICO
  //.navbar__item
  //  a.navbar__link(href='#price') Bыбрать депозит
  //.navbar__item
  //  a.navbar__link(href='#testimonials') Отзывы
  //.navbar__item
  //  a.navbar__link(href='#faq') FAQ


  .navbar__item.navbar__phone
    include ../../../components/phone/phone
