section.padding_top_half(id='chat')
  .container
    h2.sectionHeader(data-aos='fade-up') Хотите управлять инвестициями в
      br.hidden-sm-down
      = ' '
      | криптовалюту  самостоятельно?

    .row
      .col-md-5.text_center
        img(src='images/photo-4.jpg' style='max-height: 300px; border: 3px solid #686866;')
      .col-md-7
        .padding_vertical
          ul.list
            li(data-aos='fade-left') Воспользуйтесь закрытым платным чатом в мессенджере Telegram;
            li(data-aos='fade-left') Получайте регулярные инсайдерские сигналы от экспертов;
            li(data-aos='fade-left') Будьте на шаг впереди рынка и заключайте самые выгодные сделки;
            li(data-aos='fade-left') Получайте 100% прибыли с каждой транзакции и умножайте Ваш капитал.

        button.button.button_lg(data-remodal-target='closed-chat') Узнать подробнее

    .padding_top
      hr
