.bigLogo
  display inline-flex
  flex-direction column
  align-items center
  justify-content center
  text-align center
  //&__image
  &__text
    font-size 2.5rem
    font-weight 300
    b
      font-weight 700
