doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      meta(http-equiv='X-UA-Compatible' content='IE=Edge')
      link(rel='stylesheet' href='./css/style.css')
      script(defer src='./js/bundle.js')
      title Crypto Invest

  body.page
    include components/hero/hero
    include components/economy-collapse/economy-collapse
    include components/services-1/services-1
    include components/about/about
    include components/testimonials/testimonials
    include components/price/price
    include components/services-2/services-2
    include components/brands/brands
    include components/faq/faq
    include components/contact/contact
    include components/main-footer/main-footer
