footer.mainFooter
  .container.mainFooter__container
    .mainFooter__left
      include ../logo/logo
      a.link.mainFooter__policy(href='#privacy-policy') Политика конфиденциальности

    .mainFooter__right
      include ../phone/phone
      p.mainFooter__develop Сайт разработан:
        = ' '
        a.link(href='//mobiagency.ru')
          img(src='images/mobi-agency.png' height='26')
