.economyCollapse
  &__header
    position relative
    font-size 1.5rem
    font-weight 500
    &:after
      content ''
      position absolute
      bottom 0
      left 0
      display block
      width 80px
      height 3px
      background color_red
