section.padding_top_half(id='why')
  .container
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption Почему стоит просмотреть этот курс

    .row
      .col-md-4
        .thumb.thumb_preview
          .thumb__image
            img(src='/images/thumbs/list-2.png' height='70')
          h3.thumb__header Много хаотичной
            = ' '
            br.hidden-sm-down
            | информации
          p.thumb__description В интернете есть масса статей про криптовалюту, обучающих роликов.   Непонятно что смотреть и кому верить, с чего начать, чтоб понять как зарабатывать с помощью этого инструмента.

      .col-md-4
        .thumb.thumb_preview
          .thumb__image
            img(src='/images/thumbs/new.png' height='70')
          h3.thumb__header Новый
            = ' '
            br.hidden-sm-down
            | тренд
          p.thumb__description Так всегда происходит, когда появляется новое, очень перспективное направление. Сегодня о нем слышали и знают многие, но нет полной картины и понимания как получать прибыль на рынке криптовалют.

      .col-md-4
        .thumb.thumb_preview
          .thumb__image
            img(src='/images/thumbs/users.png' height='70')
          h3.thumb__header Развелось много
            = ' '
            br.hidden-sm-down
            | «гуру»
          p.thumb__description Очень быстро появилось много «супер советов» от диванных трейдеров, а так же секретов быстрого заработка от пирамидчиков, прикрывающихся криптовалютой.

    .padding_top.text_center
      button.button.button_lg(data-remodal-target='mailerlite') Посмотреть первый урок

    .padding_top
      hr
