section.padding_top_half(id='why')
  .container
    h2.sectionHeader(data-aos='fade-up') Почему о заработке на криптовалюте
      = ' '
      br.hidden-sm-down
      | заговорят завтра

    .row
      .col-md-4
        .economyCollapse
          h3.economyCollapse__header Мало
            = ' '
            br.hidden-sm-down
            | информации
          p.economyCollapse__description В интернете есть масса статей про крпитовалюту, но пока практически никто не пишет, как зарабатывать с помощью этого инструмента.
      .col-md-4
        .economyCollapse
          h3.economyCollapse__header Новый
            = ' '
            br.hidden-sm-down
            | тренд
          p.economyCollapse__description Так всегда происходит, когда появляется новое, очень перспективное направление заработка. Сегодня о нем знают лишь единицы. А завтра заговорят десятки и даже сотни тысяч.
      .col-md-4
        .economyCollapse
          h3.economyCollapse__header Мало опытных
            = ' '
            br.hidden-sm-down
            | специалистов
          p.economyCollapse__description В Рунете еще сравнительно немного людей, которые хорошо зарабатывают на криптовалюте. И они пока не спешат делиться знаниями.
            = ' '
            br.hidden-sm-down
            | Но, дорогие вещи теряют в цене сразу после покупки.

    .padding_top
      hr
