section.padding_top_half(id='why')
  .container
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption Почему стоит просмотреть этот курс

    .row
      .col-md-4
        .thumb.thumb_preview
          .thumb__image
            img(src='/images/thumbs/list-2.png' height='70')
          h3.thumb__header Мало
            = ' '
            br.hidden-sm-down
            | информации
          p.thumb__description В интернете есть масса статей про крпитовалюту, но пока практически никто не пишет, как зарабатывать с помощью этого инструмента.
      .col-md-4
        .thumb.thumb_preview
          .thumb__image
            img(src='/images/thumbs/new.png' height='70')
          h3.thumb__header Новый
            = ' '
            br.hidden-sm-down
            | тренд
          p.thumb__description Так всегда происходит, когда появляется новое, очень перспективное направление заработка. Сегодня о нем знают лишь единицы. А завтра заговорят десятки и даже сотни тысяч.
      .col-md-4
        .thumb.thumb_preview
          .thumb__image
            img(src='/images/thumbs/users.png' height='70')
          h3.thumb__header Мало опытных
            = ' '
            br.hidden-sm-down
            | специалистов
          p.thumb__description В Рунете еще сравнительно немного людей, которые хорошо зарабатывают на криптовалюте. И они пока не спешат делиться знаниями.

    .padding_top.text_center
      button.button.button_lg(data-remodal-target='mailerlite') Посмотреть первый урок

    .padding_top
      hr
