section.padding_vertical_half(id='why')
  .container
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption Почему стоит доверить свои деньги фонду,
        = ' '
        br.hidden-md-down
        | а не инвестировать самостоятельно

    .row
      .col-lg-5.text_center.hidden-md-down
        img(src='/images/photo-2.jpg' style='max-height: 250px')
      .col-lg-7
        .padding_vertical_half
          ul.list
            li(data-aos='fade-left') Хеджирование рисков и ребалансировка портфелей. Не нужно иметь 10 кошельков для разных валют
            li(data-aos='fade-left') Организован доступ к экспертизе международного уровня и возможность вывода проекта на биржи, повышая капитализацию инвестируемого проекта
            li(data-aos='fade-left') Реализован защитный механизм от мошеннических операций
            li(data-aos='fade-left') Накоплен богатый опыт в проведении ICO

    .padding_top
      hr
