section.hero(id='main')
  include ../main-header/main-header

  .container
    .row
      .col-lg-7(data-aos='fade-right')
        .padding_bottom.hidden-md-down
        h3.hero__header.hero__header_3 Революция в индустрии #[span.text_highlight блокчейн краудселлинга]
        h1.hero__header.hero__header_1 Запусти свое ICO #[span.text_highlight за 2 недели]
        h2.hero__header.hero__header_2 Больше никаких очередей, минимальный &nbsp;
          br.hidden-md-down
          | порог входа

      .col-lg-5.hidden-md-down(data-aos='fade-left')
        .row
          .col-11.offset-1
            img(src='/images/----11.jpg')

    .row(data-aos='fade-up')
      .col-sm-8.offset-sm-2.col-lg-8.offset-lg-0.col-xl-10
        form.form.callbackForm.padding_top
          input(type='hidden' name='title' value='Запрос на ICO за 2 недели с первого экрана страницы блокчейн')

          .row
            .col-md-6.col-xl-3
              .form__group.form__group_lg.margin_bottom_half
                input.form__input(name='name' required placeholder='Имя')
            .col-md-6.col-xl-3
              .form__group.form__group_lg.margin_bottom_half
                input.form__input(name='phone' required placeholder='Телефон')
            .col-md-6.col-xl-3
              .form__group.form__group_lg.margin_bottom_half
                input.form__input(type='email' name='email' required placeholder='E-mail')

            .col-md-6.col-xl-3
              button.button.button_block.button_lg Заказать
