section.padding_top_half.padding_bottom(id='team')
  .container
    h2.sectionHeader(data-aos='fade-up') Команда

    .teamMember__container
      .teamMember
        .teamMember__photo(style='background-image: url(/images/photo-1.jpg);')
        .teamMember__info
          h4.teamMember__name Фамилия Имя
          p.teamMember__position Должность

      .teamMember
        .teamMember__photo(style='background-image: url(/images/photo-1.jpg);')
        .teamMember__info
          h4.teamMember__name Фамилия Имя
          p.teamMember__position Должность

      .teamMember
        .teamMember__photo(style='background-image: url(/images/photo-1.jpg);')
        .teamMember__info
          h4.teamMember__name Фамилия Имя
          p.teamMember__position Должность

      .teamMember
        .teamMember__photo(style='background-image: url(/images/photo-1.jpg);')
        .teamMember__info
          h4.teamMember__name Фамилия Имя
          p.teamMember__position Должность
