section.padding_top_half.padding_bottom(id='team')
  .container
    .sectionHeader(data-aos='fade-up')
      h2.sectionHeader__caption Команда

    .teamMember__container
      .teamMember
        .teamMember__photo(style='background-image: url(/images/photo-1.jpg);')
        .teamMember__info
          h4.teamMember__name Фамилия Имя
          p.teamMember__position Должность

      .teamMember
        .teamMember__photo(style='background-image: url(/images/photo-1.jpg);')
        .teamMember__info
          h4.teamMember__name Фамилия Имя
          p.teamMember__position Должность

      .teamMember
        .teamMember__photo(style='background-image: url(/images/photo-1.jpg);')
        .teamMember__info
          h4.teamMember__name Фамилия Имя
          p.teamMember__position Должность

      .teamMember
        .teamMember__photo(style='background-image: url(/images/photo-1.jpg);')
        .teamMember__info
          h4.teamMember__name Фамилия Имя
          p.teamMember__position Должность

    .padding_top
      hr
