section.padding_top_half(id='price')
  .container
    h2.sectionHeader(data-aos='fade-up') Какой порог входа для инвестиций в криптовалюту

    .row
      .col-md-6.col-lg-4.margin_bottom_half
        .price
          .price__header Тестовый депозит
          .price__price 2 биткоина
          .price__profit прибыль делится
            br
            | 40/60 (Вам 60)
          .price__period  В качестве теста
            br
            | на период
            br
            | от 1-го месяца
          .price__button
            button.button.button_lg(data-remodal-target='start-investing') Начать инвестировать

      .col-md-6.col-lg-4.margin_bottom_half
        .price
          .price__header Стартовый депозит
          .price__price от 5 биткоинов
          .price__profit прибыль делится
            br
            | 50/50
          .price__period  Рекомендуемое время
            br
            | инвестирования
            br
            | от полугода
          .price__button
            button.button.button_lg(data-remodal-target='start-investing') Начать инвестировать

      .col-md-6.col-lg-4.margin_bottom_half
        .price
          .price__header VIP депозит
          .price__price от 100 биткоинов
          .price__profit прибыль делится
            br
            | 70/30 (70 Вам)
          .price__period Рекомендуемое время
            br
            | инвестирования
            br
            | от полугода
          .price__button
            button.button.button_lg(data-remodal-target='start-investing') Начать инвестировать

    .padding_top
      hr
